@layer base, theme, layout, utilities;

@layer base {
    .background_contact {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/Bones_Background.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -2; 
    }
}

@layer layout {
    .background_contact_form {
        background-image: url("../images/White_Blur.webp");
        background-size: cover;
        background-position: top center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: -1; 
    } 

    .contact-box{
        display: flex;
        overflow: hidden;
        min-height: 100vh;
        align-items: center;
        justify-content: space-evenly;
    }

    .contact-box .right{
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 40%;
        justify-items: center;
        align-items: center;
    }
    
    .contact-box .left{
        align-self: center;
        width: 30%;
    }
}

@layer utilities {
    .contact-box .right h2 {
        justify-self: center;
        color: rgba(255, 255, 255, 0.8);
        padding-bottom: 2rem;
        padding-top: 1rem;
        font-size: 2.2rem;
    }

    .contact-box .right .field{
        width: 100%;
        padding: 0.5rem 1rem;
        outline: none;
        border: none;
        border-radius: 15px;
        background-color: rgb(0, 0, 0, 0.2);
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.1rem;
        margin-bottom: 22px;
        transition: .3s;
        position: relative;
    }

    .contact-box .right .field::placeholder{
        color: rgba(255, 255, 255, 0.8);
    }

    .contact-box .right .field::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 1px; 
        background-color: white;
        transition: width 0.3s ease;
    }
    
    .contact-box .right .field:hover{
        background-color: rgb(0, 0, 0, 0.3);
    }
    
    .contact-box .right .field:focus{
        background-color: rgb(0, 0, 0, 0.4);
    }
    
    .contact-box .right .field .area{
        min-height: 150px
    }

    .contact-box .right .btn {
        background-color: rgb(0, 0, 0, 0.2);
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.1rem;
        border: none;
        border-radius: 15px;
        padding: 0.5rem 1rem;
        outline: none;
        justify-self: center;
        width: 20%;
        margin-bottom: 80px;
    }

    .contact-box .right .btn:hover {
        background-color: rgb(0, 0, 0, 0.3);
    }

    .contact-box .left p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.8rem;
    }
}

@media (max-width: 1000px) {
    @layer layout {
        .contact-box {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        
        .contact-box .left{
            margin-top: 3rem;
            width: 70%;
        }

        .contact-box .right {
            width: 70%;
        }
    }
}

@media (max-width: 600px) {
    @layer utilities {
        .contact-box .right .btn {
            width: 40%;
        }

        .contact-box .left p {
            font-size: 1.4rem;
        }

        .contact-box .right h2 {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 400px) {
    @layer layout {
        .contact-box .left{
            width: 80%;
        }

        .contact-box .right {
            width: 80%;
        }
    }

    @layer utilities {
        .contact-box .left p {
            font-size: 1.2rem;
        }

        .contact-box .right h2 {
            font-size: 1.5rem;
        }
    }
}