<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jozlin Schmidt Art Portfolio | Paintings, Illustrations, Digital Art</title>
    <meta name="description" content="Discover the captivating art of Jozlin Schmidt, featuring paintings, illustrations, and photos. View the portfolio and connect with the artist.">
    <meta name="keywords" content="Jozlin Schmidt, artist, art portfolio, paintings, illustrations, digital art, contemporary art">
    <link rel="icon" href="../static/images/Joz_Icon.png" type="image/png">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Leckerli+One&family=Yuji+Mai&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body> 
    <div class="background_home"></div>
    <div class="gradient"></div>
    <nav>
        <div class="logo_container">
            <h1>Jozlin<span class="fancy-writing"> Schmidt</span></h1>
        </div>
        <input type="checkbox" id="sidebar-active">
        <label for="sidebar-active" class="open-sidebar-button">
            <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
        </label>
        <div class="links-container">
            <label for="sidebar-active" class="close-sidebar-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
            </label>
            <a href="/"><span class="current link">Home</span></a>
            <a href="#illistrations"><span class="link">Illustrations</span></a>
            <a href="#photos"><span class="link">Photos</span></a>
            <a href="/about"><span class="link">About</span></a>
            <a href="/contact"><span class="link">Contact</span></a>
        </div>
    </nav>
    <div class="intro-hook">
        <p>
            Welocome! I'm Jozlin Schmidt, a Studio Art major at Concordia University Nebraska. 
            Here you can find some of my recent works of art. Thank you for visiting my portfolio!
        </p>
        <a href="/about"><h4 class="learn_more">Learn More</h4></a>
    </div>
    <div class="work" id="target-section">
        <div class="illistrations" id="illistrations">
            <div class="grid-sizer"></div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=0">
                    <img src="../static/images/Illistrations/Art_10.webp" alt="Joz Art" width="592" height="796">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=1">
                    <img src="../static/images/Illistrations/Art_2.webp" alt="Joz Art" width="634" height="931">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=2">
                    <img src="../static/images/Illistrations/Art_3.webp" alt="Joz Art" width="856" height="644">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=3">
                    <img src="../static/images/Illistrations/Art_9.webp" alt="Joz Art" width="698" height="709">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=4">
                    <img src="../static/images/Illistrations/Art_4.webp" alt="Joz Art" width="525" height="687">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=5">
                    <img src="../static/images/Illistrations/Art_7.webp" alt="Joz Art" width="654" height="615">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=6">
                    <img src="../static/images/Illistrations/Art_5.webp" alt="Joz Art" width="515" height="512">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=7">
                    <img src="../static/images/Illistrations/Art_1.webp" alt="Joz Art" width="579" height="778">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=8">
                    <img src="../static/images/Illistrations/Art_6.webp" alt="Joz Art" width="431" height="431">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=9">
                    <img src="../static/images/Illistrations/Art_8.webp" alt="Joz Art" width="553" height="819">
                </a>
            </div>
        </div>

        <div class="photos" id="photos">
            <div class="grid-sizer"></div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=10">
                    <img src="../static/images/Photos/Photo_1.webp" alt="Soap Photo" width="684" height="854">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=11">
                    <img src="../static/images/Photos/Photo_2.webp" alt="Mom and Flowers Photo" width="706" height="477">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=12">
                    <img src="../static/images/Photos/Photo_5.webp" alt="Hair Piece Photo" width="800" height="1067">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=13">
                    <img src="../static/images/Photos/Photo_3.webp" alt="Cricket Contrast Photo" width="787" height="563">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=14">
                    <img src="../static/images/Photos/Photo_7.webp" alt="Sophia Box" width="972" height="777">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=15">
                    <img src="../static/images/Photos/Photo_8.webp" alt="Outside Phone Booth Photo" width="895" height="597">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=16">
                    <img src="../static/images/Photos/Photo_6.webp" alt="Purple Mom Photo" width="790" height="987">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=17">
                    <img src="../static/images/Photos/Photo_9.webp" alt="Smiling On the Phone Photo" width="634" height="845">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=18">
                    <img src="../static/images/Photos/Photo_10.webp" alt="2nd Purple Mom Photo" width="733" height="916">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=19">
                    <img src="../static/images/Photos/Photo_11.webp" alt="Zander Reading Photo" width="915" height="654">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=20">
                    <img src="../static/images/Photos/Photo_12.webp" alt="2nd German Hymn Photo" width="876" height="701">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=21">
                    <img src="../static/images/Photos/Photo_13.webp" alt="Family Photo" width="925" height="406">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=22">
                    <img src="../static/images/Photos/Photo_14.webp" alt="Styled Soap Photo" width="640" height="800">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=23">
                    <img src="../static/images/Photos/Photo_15.webp" alt="Sophia Stretch Photo" width="471" height="754">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=24">
                    <img src="../static/images/Photos/Photo_16.webp" alt="Mom and Son Photo" width="753" height="941">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=25">
                    <img src="../static/images/Photos/Photo_17.webp" alt="Fear Photo" width="667" height="853">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=26">
                    <img src="../static/images/Photos/Photo_18.webp" alt="Cricket Sunny Photo" width="672" height="504">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=27">
                    <img src="../static/images/Photos/Photo_19.webp" alt="Extra Hands Photo" width="543" height="683">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=28">
                    <img src="../static/images/Photos/Photo_20.webp" alt="Sophia Eyes Photo" width="832" height="594">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="/slides?slideIndex=29">
                    <img src="../static/images/Photos/Photo_4.webp" alt="German Hymn Photo" width="808" height="545">
                </a>
            </div>
        </div>

        <div class="footer">
            <div class="AI_Warning">
                <p>
                    All artwork featured on this website is the exclusive property of the artist. 
                    By accessing and viewing these images, you acknowledge that these works cannot 
                    be used or copied for any purpose without the artist's permission. Specifically, 
                    no AI systems, algorithms, or machine learning models are permitted to scrape, 
                    download, or utilize these images for training, enhancement, or any other form 
                    of data processing. Unauthorized use of these images for AI training is strictly 
                    prohibited.
                </p>
                <p>Thank you for respecting the artist's creative work.</p>
            </div>
            <div class="Thanks_Message">
                <h4>Thank you for visiting!</h4>
                <p>
                    I appreciate your interest in my work. Your support means a lot, and 
                    I hope you enjoy exploring the portfolio. Feel free to reach out with any inquiries!
                </p>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>