<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Slideshow Jozlin Schmidt | Art Slideshow</title>
        <link rel="icon" href="../static/images/Joz_Icon.png" type="image/png">
    
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Leckerli+One&family=Yuji+Mai&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/slides.css">
    </head>
<body>
    <div class="slider">
        <div class="slides">
            <div class="slide">
                <img src="../static/images/Illistrations/Art_10.webp" alt="Joz Art">
                <div class="about">
                    <h1>Duck</h1>
                    <p>Oil pastel on paper</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Illistrations/Art_2.webp" alt="Joz Art">
                <div class="about">
                    <h1>Horse Tack</h1>
                    <p>Graphite on paper</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Illistrations/Art_3.webp" alt="Joz Art">
                <div class="about">
                    <h1>Gourds</h1>
                    <p>Soft chalk pastel on tan paper</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Illistrations/Art_9.webp" alt="Joz Art">
                <div class="about">
                    <h1>Magazine Collage</h1>
                    <p>Graphite pencils on matted paper</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Illistrations/Art_4.webp" alt="Joz Art">
                <div class="about">
                    <h1>Black and White Bone Decunstruction</h1>
                    <p>Black Sharpie</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Illistrations/Art_7.webp" alt="Joz Art">
                <div class="about">
                    <h1>Polorized Stripes</h1>
                    <p>Acrylic paint wood canvas</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Illistrations/Art_5.webp" alt="Joz Art">
                <div class="about">
                    <h1>Tea and Pears</h1>
                    <p>Soft chalk pastels</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Illistrations/Art_1.webp" alt="Joz Art">
                <div class="about">
                    <h1>Bones</h1>
                    <p>Charcoal on paper</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Illistrations/Art_6.webp" alt="Joz Art">
                <div class="about">
                    <h1>Rs and Es</h1>
                    <p>Grphite pencil on paper</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Illistrations/Art_8.webp" alt="Joz Art">
                <div class="about">
                    <h1>Blocks</h1>
                    <p>Oil pastel on paper</p>
                </div>
            </div>

            <div class="slide">
                <img src="../static/images/Photos/Photo_1.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Clean Cucumber</h1>
                    <p>product shoot</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Photos/Photo_2.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Dandelions</h1>
                    <p>Mother-1</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Photos/Photo_5.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Drama</h1>
                    <p>Self portrait</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Photos/Photo_3.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Cricket</h1>
                    <p>Portrait work</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Photos/Photo_7.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Sophia's shadow</h1>
                    <p>She just saw her shadow, 6 more weeks of Winter.</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Photos/Photo_8.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Phone Call</h1>
                    <p>Self portrait</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Photos/Photo_6.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Studio Portrait</h1>
                    <p>Mother-2</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Photos/Photo_9.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Answered</h1>
                    <p>Self portraitP</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Photos/Photo_10.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Studio Portait 2</h1>
                    <p>Mother-3</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Photos/Photo_11.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Zander Reads</h1>
                    <p>Portrait work</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Photos/Photo_12.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Mom Reads</h1>
                    <p>Studio lighting</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Photos/Photo_13.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Familial</h1>
                    <p>Mother-4</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Photos/Photo_14.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Soap Staging</h1>
                    <p>Product Photography</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Photos/Photo_15.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Sun Bathing</h1>
                    <p>Portrait Work</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Photos/Photo_16.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Embrace</h1>
                    <p>Mother-5</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Photos/Photo_17.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Fear</h1>
                    <p>Mother-6</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Photos/Photo_18.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Cricket 2</h1>
                    <p>Portrait Work</p>
                </div>
            </div>
            <div class="slide">
                <img src="../static/images/Photos/Photo_19.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Out of Reach</h1>
                    <p>Self Portrait</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Photos/Photo_20.webp" alt="Joz Photo">
                <div class="about">
                    <h1>Eye</h1>
                    <p>Photgraphy</p>
                </div>
            </div>
            <div class="slide">
                <img class="wide" src="../static/images/Photos/Photo_4.webp" alt="Joz Photo">
                <div class="about">
                    <h1>German Hymnal</h1>
                    <p>Mother-7</p>
                </div>
            </div>
        </div>
        <button class="prev" onclick="prevSlide()">&#10094</button>
        <button class="next" onclick="nextSlide()">&#10095</button>
        <button class="exit" onclick="location.href='/#illistrations'"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></button>
    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>